.termoignages{
    padding: 112px;
    @media (max-width: 992px) {
        padding: 40px 24px 40px 24px;
    }
    background-color: #EF1607;
    .termoignages--header{
        max-width: 471px;
    }
    .termoignages--header-title {
        padding-left: 0px;
        padding-bottom: 32px;
        @media (max-width: 992px) {
            padding-right: 0px;
            padding-bottom: 40px;
        }
    }
    .termoignages--header-title-text {
        padding-top: 24px;
    }
    .termoignages--header-desc {
        padding-left: 0px;
        padding-right: 45px;
        padding-bottom: 148px;
        @media (max-width: 992px) {
            padding-right: 0px;
            padding-bottom: 64px;
        }
    }
    .termoignages--header-nav {
        gap: 18px;
        @media (max-width: 992px) {
            display: none !important;
        }
    }
    .termoignages--body {
        padding: 56px;
        max-width: 552px;
        background-color: black;
        @media (max-width: 992px) {
            padding: 24px;
        }
    }
    .termoignages--body-wrapper {
        @media (max-width: 992px) {
            display: block !important;
        }
    }
    .termoignages--body-wrapper-name {
        padding-right: 12px;
        border-right: 1px solid white;
        margin-right: 10px;
        @media (max-width: 992px) {
            border: none;
            padding-right: 0px;
            margin-right: 0px;
            padding-bottom: 10px;
        }
    }
    .termoignages--body-desc {
        padding-top: 72px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 60px;
        @media (max-width: 992px) {
            padding-top: 63px;
            padding-bottom: 40px;
        }
    }
    .termoignages--body-nav {
        height: 1px;
        .progress-bar {
            background-color: #EF1607;
        }
    }
}